<h1>All playlists</h1>

<%= link_to 'New Playlist', new_playlist_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.title %></td>
      <td><%= playlist.description %></td>
      <td><%= link_to 'Show', playlist_path(playlist) %></td>
      <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
    </tr>
  <% end %>
</table>
