<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<h2>Songs</h2>
<%= render @playlist.songs %>


<h2>Add a song</h2>
<%= render 'songs/form' %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back to all playlists', playlists_path %>


